:root {

  --black: #000000;

  --blue900: #102A43;
  --blue800: #243B53;
  --blue700: #334E68;
  --blue600: #486581;
  --blue500: #627D98;
  --blue400: #829AB1;
  --blue300: #9FB3C8;
  --blue200: #BCCCDC;
  --blue100: #D9E2EC;
  --blue50 : #F0F4F8;

  --green : #08D7C3;
}

html {
  background-color: var(--blue900);

}

html, body {
  
  height: fit-content;
}

.App {
  height: 90vh;
}

html, body{

  padding: 0;
  margin: 0;
}
